    <div class="feedback-form-container">
        <div class="feedback-form">
            <form id="feedbackForm" onsubmit="submitFeedback(event)">
                <h1>Give Your Review Here:</h1>
                <textarea id="reviewText" name="review" placeholder="Enter your review..." required></textarea><br>
                <button type="submit">Submit</button>
            </form>
            <div class="thank-you-message" id="thankYouMessage">
                Thank you for your response!
            </div>
        </div>
    </div>
